* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFFF;
    color: #0000;
    font-size: 15px;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 100%;
    margin: auto;
}

.main-nav{
    background: #e00a20;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    width: 100%;
    height: 80px;
    padding: 20px;
    position: fixed;
}

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    padding: 0 10px;
}

.main-nav ul li a{
    color: #FFFF;
    font-weight: bold;
}

.main-nav ul.main-menu{
    flex: 1;
    justify-content: space-between;
    margin-left: 15px;
}

.showcase{
    width: 100%;
    height: 500px;
    background: #e00a20;
    color: #FFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.showdata{ 
    align-items: flex-start;
    justify-content: center;
    padding-left: 30px;
}

.kitkat-bg{
    padding-top: 50px;
}

.showcase h1{
    font-size: 70px;
}
.showcase hr{
    width:100%;
    height: 5px;
    border: 0;
    background: #FFFF;
    margin-bottom: 20px;
}

.showcase h3,a{
    margin-bottom: 30px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 5px 10px;
    background: #ffff;
    color: #e00a20;
}

.products h1{
    color: #e00a20;
    display: flex;
    font-size: 40px;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.product-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1100px;
    margin: auto;
    margin-bottom: 60px;
}

.pcard-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

.pcard-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 

.product-cards img{
    width: 50%;
     
}

.product-cards h3{
    color: black;
    margin-bottom: 15px;
}

.buybtn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 5px 10px;
    background: #e00a20;
    color: #ffff;
}

.image-gallery{
    background: #e00a20;
    color: #FFFF;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
}

.image-gallery img{
    width: 100%;
}

.links{
    background: #e00a20;
    color: #FFFF;
    font-size: 15px;
    padding: 35px 0;
    margin-bottom: 20px;
}

.links-inner{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.links-inner ul li a{
    line-height: 2.5;
    color: #FFFF;
}

.footer{
    font-size: 14px;
    padding: 20px 0;
}

.footer-inner{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer div{
    display: flex;
    align-items: center;
}

.footer .logo-nestle{
    width: 50px;
    margin-left: 30px;
}

.footer ul{
    display: flex;
    flex-wrap: wrap;
}

.footer li{
    margin-right: 30px;
}

.footer a{
    color: #262626;
}